node {
    stage('Git clone') {
        git url: 'git@gitlab.rebrainme.com:icetony/do13.git',
                credentialsId: 'gitlabRebrainSSHKey'
    }

    env.GIT_TAG_NAME = gitTagName()
    env.REMOTE_SSH_USER = "root"
    env.REMOTE_HOST = "icetony2.devops.rebrain.srwx.net"

    stage('Deploy') {
        if (isChanged()) {
            echo "Changes found - running the stage"
            sh 'ssh ${REMOTE_SSH_USER}@${REMOTE_HOST} mkdir -p /var/www/hello-${GIT_TAG_NAME}/'
            sh 'scp index.html ${REMOTE_SSH_USER}@${REMOTE_HOST}:/var/www/hello-${GIT_TAG_NAME}/'
            sh 'ssh ${REMOTE_SSH_USER}@${REMOTE_HOST} chown -R www-data:www-data /var/www/hello-${GIT_TAG_NAME}/'
            sh 'ssh ${REMOTE_SSH_USER}@${REMOTE_HOST} ln -fns /var/www/hello-${GIT_TAG_NAME}/ /var/www/current'
        } else {
            echo "No changes - skipping the stage"
        }
    }
}

/** @return The tag name, or `null` if the current commit isn't a tag. */
String gitTagName() {
    commit = getCommit()
    if (commit) {
        desc = sh(script: "git describe --tags ${commit}", returnStdout: true)?.trim()
        if (isTag(desc)) {
            return desc
        }
    }
    return null
}

String getCommit() {
    return sh(script: 'git rev-parse HEAD', returnStdout: true)?.trim()
}

boolean isChanged() {
    local = sh(script: "md5sum index.html | cut -d ' ' -f 1", returnStdout: true)?.trim()
    remote = sh(script: "ssh ${REMOTE_SSH_USER}@${REMOTE_HOST} md5sum /var/www/current/index.html | cut -d ' ' -f 1", returnStdout: true)?.trim()
    if (local != remote) {
        return true
    }
    return false
}

@NonCPS
boolean isTag(String desc) {
    match = desc =~ /.+-[0-9]+-g[0-9A-Fa-f]{6,}$/
    result = !match
    match = null // prevent serialisation
    return result
}